@{  
    var db = Database.Open("Blog");
    //practicing Uers' Posts.cshtml, BEGIN
    var user = Session["username"];
    //END
    
    var posts = db.Query("SELECT * FROM Posts");
    
    //Navigation   
    if(Request["logout"] == "true"){
        Session.Remove("username");
        Response.Redirect("/");
    }

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Impression</title>
        <link href="css/normalize.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="css/StyleSheet.css"  rel="stylesheet"><!--暂时用不了外联表-->
        
    </head>
    <body>
        <header>
            <!--Navigation-->
            <nav>
                <ul class="list-inline nav nav-pills">
                    <li class="home"><a href="/">HOME</a></li>
                    @{
                        if(Session["username"] != null){
                            //把用户名区域变成一个下拉菜单：我的文章，注销
                            
                            <li class="dropdown">
                                <a href="cshtml/MyPosts.cshtml" class="dropdown-toggle" data-toggle="dropdown">@Session["username"]<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="cshtml/MyPosts.cshtml">My posts</a></li>
                                    <li><a href="?logout=true">Log out</a></li>
                                </ul>
                            </li>
                            <li><a href="https://github.com/runningIris">ABOUT ME</a></li>
                        }else{
                            <li><a href="/cshtml/Login.cshtml">Login</a></li>
                            <li><a href="/cshtml/Registration.cshtml">Registration</a></li>
                        }
                    }
                    
                </ul>
            </nav>
            <!--Navigation-->
            <div id="banner">
                <div class="inner">
                    <h1>IMPRESSION</h1>
                    <hr class="hr">
                    <p class="sub-heading">Write down your imressive ideas here, share it to the world.</p>
                    <button class="btn btn-bg"><a href="/#articles">See Passages</a></button>
                </div>
            </div>
        </header>
        <div class="content">
            <!--提交文章-->
            <div id="articles">
                <!--显示所有文章的标题-->
                <div id="postTitle">
                    <ol>
                        @foreach(var post in posts){
                            <li class="post-preview view-title">
                                <a class ="psgtitles" href="cshtml/Post.cshtml?PostID=@post.ID">@post.Title</a>
                                <div class="poster"> by @post.Bloger  @post.TimePublished</div>
                                <hr>
                            </li>
                        }
                    </ol>
                </div>

            
            </div>
            <!--/提交文章-->
        </div>
        <footer>
            <div class="copyright">
                <h5>Guangdong University of Foreign Studies |  TELL: 18819421945   </h5>
                <h5>Copyright © Iris 2016</h5>
            </div>
        </footer>
        <script src="main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>