@{
//数据库操作：1. 登录注销 2. 提交（删除）新文章 3. 注册机制

    var db = Database.Open("Blog");

    //<提交新文章>
    var title = Request["title"];
    var content = Request["content"];

    if(IsPost){
        if(title != null){
        db.Execute("INSERT INTO Posts(Title, Content, TimePublished) VALUES(@0, @1, @2)", title, content, DateTime.Now);
        }
    }
    //</提交新文章>
    var posts = db.Query("SELECT * FROM Posts");
        
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>A Simple Blog</title>
        <link href="main.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <!--注册-->
        <h3><a href="/Registration.cshtml">新用户点击此处注册</a></h3>
        <h3><a href="/Login.cshtml">登录</a></h3>
        <!--提交文章--><hr>
        <div id="articles" class="mjp">
            <form method="post">
                <p>Please enter your post title and content: </p>
                <input type="text" name="title" placeholder="Title">
                <br><br>
                <textarea name="content" placeholder="Content"></textarea>
                <input type="submit">
            <!--显示文章标题-->
            <div id="postTitle">
                <ol>
                    @foreach(var post in posts){
                        <li><a href="Post.cshtml?PostID=@post.ID">@post.Title</a> @post.TimePublished</li>
                    }
                </ol>
            
            </div>
            </form>
        </div>
        <!--/提交文章-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>