@{
    var postID = Request["PostID"];
    var db = Database.Open("Blog");
    var post = db.QuerySingle("SELECT * FROM Posts WHERE ID = @0", postID);
    if(postID.IsEmpty()){
        Response.SetStatus(404);
    }
    if(IsPost){
        var comment = Request["comment"];
        if(!comment.IsEmpty()){
            db.Execute("INSERT INTO Comments(Content, PostID) VALUES(@0, @1)", comment, postID);
        }
    }
    var comments = db.Query("SELECT * FROM Comments WHERE PostID = @0", postID);
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>A Simple Blog</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    </head>
    <body>
        <a href="/">Home</a>
        <h1>@post.Title</h1>
        <div>@post.Content</div>
        <hr>
        <h5>Comments: </h5>
        <div>
            <ol>
                @foreach(var comment in comments){
                    <li>@comment.Content</li>
                }
            </ol>
        </div>
        <form method="post">
            <textarea name="comment" placeholder="Write your comment here"></textarea>
            <input type="submit">
        </form>
    </body>
</html>
