@{
    var db = Database.Open("Blog");
        //<登录注销机制>
    if(Request["logout"] == "true"){
        Session.Remove("username");
        Response.Redirect("/");
    }
    if(IsPost){        //全部表单一起post？？？？
        var username = Request["username"];
        var password = Request["password"];
        
        if(username!=null && password!=null){

            var user = db.QuerySingle("SELECT * FROM Users WHERE username = @0 AND password = @1", username, password);
            if(user != null){
                Session["username"] = username;
            }else{
                <h4>Incorrect username or password</h4>
            }
        }
        //</登录注销机制>
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/StyleSheet.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <h2><a href="/">Home</a></h2>
                <!--登录注销机制-->
        <div id="login" class="mjp">

        @if(Session["username"] != null){
            Response.Redirect("/");
        }else{
            <h3>登录</h3><hr>
            <form method="post" role="form" class="form-inline">
                <div class="form-group">
                    <label for="username" class="col-small-2 control-label">&nbsp;用户名：</label>
                    <input type="text" name="username" id="username" placeholder="Username" class="form-control input-small" >
                </div>
                <div class="form-group">
                    <label class="control-label col-small-2" for="password">&nbsp;密码：&nbsp;&nbsp;&nbsp;  </label>
                    <input type="password" name="password" id="password" placeholder="Password" class="form-control input-small">
                </div>
                <input type="submit" value="提交" class="btn btn-default" id="submitBtn">
            </form>
        }
        </div> 
        <script src="/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> 
    </body>
</html>
