@{
    var db = Database.Open("Blog");

    if(IsPost){        //全部表单一起post？？？？
        var username = Request["username"];
        var password = Request["password"];
        if(username!=null && password!=null){

            var user = db.QuerySingle("SELECT * FROM Users WHERE username = @0 AND password = @1", username, password);
            if(user != null){
                Session["username"] = username;
            }else{
                <h4>Incorrect username or password</h4>
            }
        }
    }
    
    //Navigation   
    if(Request["logout"] == "true"){
        Session.Remove("username");
        Response.Redirect("/");
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Impression</title>
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/StyleSheet.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav>
                <ul class="list-inline nav nav-pills">
                    <li class="home"><a href="/">HOME</a></li>
                    @{
                        if(Session["username"] != null){
                            //把用户名区域变成一个下拉菜单：我的文章，注销
                            
                            <li class="dropdown">
                                <a href="cshtml/MyPosts.cshtml" class="dropdown-toggle" data-toggle="dropdown">@Session["username"]<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/cshtml/MyPosts.cshtml">My Posts</a></li>
                                    <li><a href="?logout=true">Log Out</a></li>
                                </ul>
                            </li>
                            <li><a href="https://github.com/runningIris">ABOUT ME</a></li>
                        }else{
                            
                            <li><a href="/cshtml/Registration.cshtml">Registration</a></li>
                        }
                    }
                    
                </ul>
            </nav>
        </header>
        <div class="login content">
                @if(Session["username"] != null){
                    Response.Redirect("/");
                }else{
                    <h2 class="title">Log in</h2><hr>
                    <div class="login-form">
                        <form method="post" role="form">
                            <div class="form-group form-inline">
                                <label for="username" class="col-sm-3  control-label">&nbsp;Username：</label>
                                <input type="text" name="username" id="username" placeholder="Username" class="form-control input-lg" >
                            </div>
                            <div class="form-group form-inline">
                                <label class="control-label col-sm-3" for="password">&nbsp;Password：&nbsp;&nbsp;&nbsp;  </label>
                                <input type="password" name="password" id="password" placeholder="Password" class="form-control input-lg">
                            </div>
                            <input type="submit" value="Login" class="btn btn-primary input-lg" id="submitBtn">
                        </form>
                    </div>
                } 
        </div>
        <footer>
            <div class="copyright">
                <h5>Guangdong University of Foreign Studies |  TELL: 18819421945   </h5>
                <h5>Copyright © Iris 2016</h5>
            </div>
        </footer>
        <script src="/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> 
    </body>
</html>
