@{
   if(IsPost){
       var username = Request["username"];
       var password = Request["password"];
       if(username.Length >= 3 && password.Length >= 6){
           var db = Database.Open("Blog");
           db.Execute("INSERT INTO Users(username, password) VALUES(@0, @1)", username, password);
           <h3>Registration success!</h3>
       }
   }
   
    if(Request["logout"] == "true"){
        Session.Remove("username");
        Response.Redirect("/");
    }

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Impression</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="jquery-1.12.3.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
        <link href="css/normalize.css" rel="stylesheet">
        <link href="/css/StyleSheet.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul class="list-inline nav nav-pills">
                    <li class="home"><a href="/">HOME</a></li>
                    @{
                        if(Session["username"] != null){
                            //把用户名区域变成一个下拉菜单：我的文章，注销
                            
                            <li class="dropdown">
                                <a href="cshtml/MyPosts.cshtml" class="dropdown-toggle" data-toggle="dropdown">@Session["username"]<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/cshtml/MyPosts.cshtml">My Posts</a></li>
                                    <li><a href="?logout=true">Log Out</a></li>
                                </ul>
                            </li>
                            <li><a href="https://github.com/runningIris" target="_blank">ABOUT ME</a></li>
                        }else{
                            <li><a href="/cshtml/Login.cshtml">Login</a></li>
                        }
                    }
                    
                </ul>
            </nav>
        </header>
        <div class="content registration">
            <div id="registration" style="width: 600px;">
                <form method="post" role="form">
                    <h2 class="title">Sign Up</h2>
                    <hr>
                    <div class="form-group form-inline">
                        <label for="username" class="col-sm-5 control-label">Username</label>
                        <input class="form-control input-lg signup" type="text" name="username" id="username" placeholder="Username">
                        <div>
                            <h3 id="availability"></h3>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label for="password" class="col-sm-5 control-label">Password</label>
                        <input class="form-control input-lg signup" type="password" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="form-group form-inline">
                        <label for="confirmPassword" class="col-sm-5 control-label">Confirm Password</label>
                        <input class="form-control input-lg signup" type="password" name="comfirmPassword" id="confirmpassword" placeholder ="Confirm Password">
                    </div>
                    <div class="form-group btn signup">
                        <input class="btn btn-primary signup" type="submit" id="submitBtn" value="Sign Up">
                    </div>
                </form>
            </div>
        </div>
        <script>
            var username = document.querySelector("#username");
            username.onkeyup = function () {
                $.post("/cshtml/CheckUser.cshtml", { "username": username.value }, function (data) {
                    console.log(data);
                    var avail = document.querySelector("#availability");
                    if (data == "1") {
                        avail.innerText = "This name has been taken"
                    } else {
                        avail.innerText = "This name is availble";
                    }
                })
            }
            //检测密码两遍输入是否一样
            document.querySelector("#submitBtn").onclick = function () {
                var username = document.querySelector("#username");
                var password = document.querySelector("#password");
                var confirmPassword = document.querySelector("#confirmpassword");
                if (password.value != confirmPassword.value) {
                    alert("Passwords are not matched!");
                    return false;
                }
            }
        </script>
        
        <footer>
            <div class="copyright">
                <h5>Guangdong University of Foreign Studies |  TELL: 18819421945   </h5>
                <h5>Copyright © Iris 2016</h5>
            </div>
        </footer>
        <script src="/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> 
    </body>
</html>